/*

My Custom CSS
=============

Author:  Kndarp Patel
Updated: June 2016

*/


/* --------------------------------------
   Layout
   -------------------------------------- */

#topLevel{
  text-align: center;
}

#topLevel img{
  margin: 0 0 20px;
}

#inputScenario{
  margin-bottom: 15px;
}

#alertMe{
  margin-left: 15px;
}

.team h4{
  margin-bottom: 30px;
}

.person{
  position: relative;
  text-align: center;
  padding: 0;
}
.person img{
  margin: 0;
}
.personName{
  margin: 0;
  display: block;
  position: absolute;
  bottom: -15px;
  text-align: center;
  font-size: 20px;
  padding: 0;
}

.practices{
  margin-top: 40px;
}
.practices h3{
  margin-top: 20px;
}

.address{
  padding: 20px;
  text-align: center;
}

footer{
  background: #eee;
  color: #333;
  font-size: 11px;
  margin-top: 40px;
  padding: 20px;
}
.dev{
  text-align: right;
}

footer ul.social li{
  display: inline;
  padding-right: 10px;
  font-size: 20px;
}

map{
  height: inherit;
}


/* --------------------------------------
   Typography
   -------------------------------------- */
  body{
    font-family: 'Roboto',sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  .well .page-header{
    margin-top: 0;
  }

  .well .page-header h1{
    margin-top: 0;
  }




/* --------------------------------------
   Navbar
   -------------------------------------- */

#searchInput{
  width: 200px;
}

.navbar-brand{
  padding-bottom: 2px;
}


/* --------------------------------------
   Carousel
   -------------------------------------- */

    #myCarousel{
      margin-top: 60px;
    }

    #myCarousel .item{
      height: 400px;
    }

    .carousel-caption{
      font-size: 20px;
    }

    .carousel-caption h4{
      font-size: 24px;
    }

    #slide1{
      background: url(../../images/carousel_medium_01.png) top center no-repeat;
    }

    #slide2{
      background: url(../../images/carousel_medium_02.png) top center no-repeat;
    }

    #slide3{
      background: url(../../images/carousel_medium_03.png) top center no-repeat;
    }


/* --------------------------------------
   Global Styles
   -------------------------------------- */

.alert{
  margin-top: 20px;
  display: none;
}

.well{
  margin: 20px 0;
}

.pillHeader{
  display: block;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {



}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

  .tabNames{
    display: block;
    height: 100%;
    width: 100% ;
    padding: 0;
  }


  .person{
    margin: 20px 0;
  }


  .carousel-caption{
    font-size: 12px;
  }

  .carousel-caption h4{
    font-size: 20px;
  }

  #myCarousel .item{
    height: 310px;
  }

      #slide1{
        background: url(../../images/carousel_small_01.png) top center no-repeat;
      }

      #slide2{
        background: url(../../images/carousel_small_02.png) top center no-repeat;
      }

      #slide3{
        background: url(../../images/carousel_small_03.png) top center no-repeat;
      }



}

/* Large desktop */
@media (min-width: 1200px) {

      #myCarousel .item{
        height: 500px;
      }

      #slide1{
        background: url(../../images/carousel_large_01.png) top center no-repeat;
      }

      #slide2{
        background: url(../../images/carousel_large_02.png) top center no-repeat;
      }

      #slide3{
        background: url(../../images/carousel_large_03.png) top center no-repeat;
      }



}

@media (max-width: 991px) {
  nav{
    font-size: 12px;
  }
}
